.card {
    padding: 10px;
    border: 1px solid dimgray;
    border-radius: 4px;
}

/* Creating columns (reference: https://www.w3schools.com/howto/howto_css_two_columns.asp)*/
.column {
  float: left;
  width: 40%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
